@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

$color1: #204051;
$color2: #3b6978;
$color3: #84a9ac;
$color4: #cae8d5;

* {
    color: $color1;
}

body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    background-color: $color4;
}

.main {
    h1 {
        font-size: 3rem;
        text-align: center;
        color: $color2;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > * {
            width: 30%;
        }

        label {
            display: block;
            text-align: center;
            margin-top: 0.5rem;
        }
        input {
            width: 100%;
        }
        button {
            margin-top: 0.5rem;
            width: 20%;
        }
    }

    .spinner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;

        .css-kud8pv {
            & > * {
                height: 35px;
            }
        }
    }

    .results {
        h2 {
            font-size: 1.8rem;
            text-align: center;
        }

        h3 {
            width: 80%;
        }

        h4 {
            font-size: 1.5rem;
        }

        a {
            display: block;
            color: $color4;
            &:hover {
                color: white;
            }
        }
    }
}

.MuiCollapse-wrapperInner {
    & > * {
        padding-left: 15px;
    }
}

.MuiAccordionSummary-root,
.MuiCollapse-entered,
.MuiCollapse-wrapperInner,
.MuiAccordion-rounded {
    background-color: $color3 !important;
}
